:root{
    --darkGrey: #202225;
    --lightGreyTxt: #b6bbc4;
    --lightGrey: #2f3136;
    --blue: #4b7bec;
    --white: #ffffff;
    --yellow: rgb(245, 241, 16);
    --titleFont: 'Audiowide', cursive;
    --bodyFont: 'Quicksand', sans-serif;
}

/* Global CSS*/
html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: var(--darkGrey);
    margin: 0;
    margin-bottom: 40px;
}

body, .text-footer{
    font-family: --var(--bodyFont);
}

a{
    text-decoration: none;
    color: var(--white);
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    /*min-height: 800px;*/
    margin: 0 auto;
    text-align: center;
    background-color: var(--lightGrey);
    border-radius: 20px;
}

h1{
    font-size: 38px;
    color: var(--white);
}

h2, b{
    color: white;
    text-align: center;
}

body{
    font-size: 18px;
}

p, h2{
    margin: 5px;
    color: var(--white);
}

img{
    margin-bottom: 15px;
}

.subheader{
    font-size: 38px;
    padding-bottom: 10px;
}

/* Header */

.title{
    max-width: 100%;
    background-color: var(--blue);
    border-radius: 20px 20px 0 0;
    font-family: var(--titleFont);
    height: 70px;
    margin-top: 40px;
    display: grid;
    align-content: center;
}

/* Search */
input[type="text"]{
    text-align: center;
    font-size: 17px;
    height: 45px;
    width: 50%;
    min-width: 300px;
    margin-top: 20px;
    border-radius: 20px 0 0 20px;
    
}
input[type="text"]:focus,
.contenedor{
    box-shadow: 0px 0px 15px 0px rgba(63,153,232,1);
}

.btn-search, .btn{
    height: 52px;
    font-size: 17px;
    border-radius: 0 20px 20px 0;
    background-color: var(--lightGrey);
    color: var(--blue);
    font-weight: bold;
}

.btn{
    border-radius: 20px;
    height: 32px;
}

.seeMore:hover{
    cursor: pointer;
    border-radius: 0;
    border-bottom: 2px solid var(--blue);
}

.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.columnsUnd{
    font-size: 25px;
}

/* Film View*/
.filmView{
    margin: 10px;
    padding: 15px;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
}

.filmView p{
    text-align: left;
}

.genre{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.genre .genFor{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

span{
    color: var(--yellow);
}

.err{
    padding: 15px;
}

/* Warning*/
.warning{
    width: 100%;
    text-align: center;
}

.warning img{
    width: 30%;
}

/* Footer */

.text-footer{
    color: var(--white);
    font-size: 15px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
}

/** Media queries **/

@media (max-width: 1170px) {
    .columns{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .columns{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 460px) {
    .title{
        height: 90px;
    }

    .title h1{
        font-size: 30px;
    }

    .formSearch{
        display: grid;
        justify-items: center;
    }

    input[type="text"]{
        font-size: 14px;
        height: 35px;
        border-radius: 20px;
        width: 50%;
        min-width: 230px;
    }

    .btn-search{
        border-radius: 20px;
        margin-top: 15px;
        width: 50%;
        height: 42px;
    }

    .film img,
    .filmView img{
        width: 80%;
    }

    .columnsUnd{
        font-size: 20px;
    }

    .text-footer{
        bottom: auto;
    }
}