<app-header
    [headerTitle]="parentTitle"
></app-header>

<div class="search">
    <form #searchForm="ngForm" (ngSubmit)="goSearch()" class="formSearch">
        <input [(ngModel)]="searchString" type="text" name="search" placeholder="What movie do you want to search?"/>
        <input type="submit" name="submit" value="Search" class="btn-search"/>
    </form>
    <div class="columns" *ngIf="filmsArray">
        <div class="film" *ngFor="let film of filmsArray">
            <div class="filmImg">
                <img src="{{film.Poster}}" alt="{{film.Title}}" *ngIf="film.Poster !== 'N/A'">
                <img src="../../../assets/images/Unavailable.jpg" alt="Unavailable" *ngIf="film.Poster === 'N/A'">    
            </div>
            <h2>{{film.Title}}</h2>
            <p>Year: {{film.Year}}</p>
            <a [routerLink]="['film/', film.imdbID]" class="btn seeMore">See more</a>
        </div>
    </div>
    <div class="columnsUnd" *ngIf="filmsArray === undefined">
        <h2>Film not found</h2>
    </div>
</div>
